<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<p>
	 <%= link_to 'Log in',root_path, class: "btn btn-primary" %></button>
	 <%= link_to 'Sign up',root_path, class: "btn btn-warning" %></button>
	</p>
</div>